@model StudentManagementSystem.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form submit="/Edit" method="post">
    <input name="id" />
    <input name="firstName" />
    <input name="lastName" />
    <button type="submit">Edit Student</button>
</form>
